<%# ------------------------------------------------------------------------- %>
<%#  BookBox – COM214 Final Project (Spring 2025)                             %>
<%#  Author contributions:                                                    %>
<%#    Cam Bayusik      – Lending modal & loan banner                          %>
<%#    Liana Bourdon   – Task lists, navbar tweaks                            %>
<%#    Annabelle Calvin – Book cards, genre filter                             %>
<%# ------------------------------------------------------------------------- %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Genres" %>

<h1>Genres</h1>

<div id="genres">
  <% @genres.each do |genre| %>
    <%= render genre %>
    <p>
      <%= link_to "Show this genre", genre %>
    </p>
  <% end %>
</div>

<%= link_to "New genre", new_genre_path %>
