<%# ------------------------------------------------------------------------- %>
<%#  BookBox – COM214 Final Project (Spring 2025)                             %>
<%#  Author contributions:                                                    %>
<%#    Cam Nguyen      – Lending modal & loan banner                          %>
<%#    Liana Bourdon   – Task lists, navbar tweaks                            %>
<%#    Annabelle Duval – Book cards, genre filter                             %>
<%# ------------------------------------------------------------------------- %>


<% content_for :title, "New genre" %>

<h1>New genre</h1>

<%= render "form", genre: @genre %>

<br>

<div>
  <%= link_to "Back to genres", genres_path %>
</div>
