<%# ------------------------------------------------------------------------- %>
<%#  BookBox – COM214 Final Project (Spring 2025)                             %>
<%#  Author contributions:                                                    %>
<%#    Cam Bayusik      – Lending modal & loan banner                          %>
<%#    Liana Bourdon   – Task lists, navbar tweaks                            %>
<%#    Annabelle Calvin – Book cards, genre filter                             %>
<%# ------------------------------------------------------------------------- %>

<div class="banner mb-4">
  <%= image_tag "banner.png",
      alt: "BookBox banner",
      class: "img-fluid w-100" %>
</div>

