<%# ------------------------------------------------------------------------- %>
<%#  BookBox – COM214 Final Project (Spring 2025)                             %>
<%#  Author contributions:                                                    %>
<%#    Cam Nguyen      – Lending modal & loan banner                          %>
<%#    Liana Bourdon   – Task lists, navbar tweaks                            %>
<%#    Annabelle Duval – Book cards, genre filter                             %>
<%# ------------------------------------------------------------------------- %>

<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>
