<%# ------------------------------------------------------------------------- %>
<%#  BookBox – COM214 Final Project (Spring 2025)                             %>
<%#  Author contributions:                                                    %>
<%#    Cam Nguyen      – Lending modal & loan banner                          %>
<%#    Liana Bourdon   – Task lists, navbar tweaks                            %>
<%#    Annabelle Duval – Book cards, genre filter                             %>
<%# ------------------------------------------------------------------------- %>

<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
